<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Troll-Block Network - Gestió de llistes i notificacions</title>
    <meta name="description" content="#Troll-Block Network - Perfils reportats">
    <!--<link id="favicon" rel="icon" href="http://trollblocknet.cat/favicon.ico" type="image/x-icon">-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    
  </head>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
  <script>jQuery(document).ready(function() {
   jQuery(".main-table").clone(true).appendTo('#table-scroll').addClass('clone');   
 });</script>
  <script type="text/javascript" src="/client.js" async defer></script>
  <body>

   <div class="container">
     <h2 class="about-title mb-40">📇 LLISTATS DE PERFILS PER BLOQUEJAR</h2> 
     <div class="table-scroll">
      <div class="table-wrap">
         <div id="totalsContent"></div>
      </div>
     </div>
   </div>

    
   <div class="container">
     <h2 class="about-title mb-40">🔔 REPORTS PENDENTS DE PROCESSAR:</h2>
     <div  id="table-scroll" class="table-scroll">
      <div class="table-wrap">
         <div id="reportsContent"></div>
      </div>
      <div class="img-text">		
        <div style="float:left"><p><a onclick="">🔄</a> | <a onclick="">❓</a></p> </div><div style="float:right"><p>Last Updated: <i>timestamp</i> | API Status - 💚❌</p></div><!--(show error dialog if API limit is reached and inform of restingthe time)-->
      </div>
     </div>
   </div>
    
    <div class="container">
      <h2 class="about-title mb-40">🚷 DARRERS PERFILS BLOCATS:</h2>
      <div class="table-scroll">
      <div class="table-wrap">
         <div id="recentsContent"></div>
      </div>
     </div>
   </div>
    
    <div class="container">
     <h2 class="about-title mb-40">📣 REPORTAR TWEETS PER LOTS (CARREGAR FITXER CSV):</h2>
     <input type="file" name="file" id="file" accept="text/*" multiple>
     <p>Mòdul en desenvolupament</p>
   </div>
    
     <div class="container">
     <h2 class="about-title mb-40">💣 DESCARREGAR SEGUIDORS DE... (FITXER CSV):</h2>
     <input type="text" name="file2" id="file2" accept="text/*">
     <p>Mòdul en desenvolupament</p>
   </div>
    
    <div class="container">
     <h2 class="about-title mb-40">👩‍💻 OBTENIR LLISTAT DE TWEETS PER HASHTAG (FITXER CSV):</h2>
     <input type="text" name="file2" id="file2" accept="text/*">
     <p>Mòdul en desenvolupament</p>
   </div>
    
   <div class="container">
    <h2 class="about-title mb-40">🎭 HASHTAGS I TENDÈNCIES:</h2>
     <p>SECTOR REPUBLICÀ</p>
     <p>SECTOR UNIONISTA</p>
    <p>Mòdul en desenvolupament</p>
   </div>
  
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <!--<div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>-->
    
    <script src="https://button.glitch.me/button.js"></script>

    <!--<script type="text/javascript" src="/client.js"></script>-->
    
  </body>
</html>
